
<ion-view view-title="关于我们">

  <ion-nav-bar class="bar bar-positive" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

    <ion-content class="scem-bg" >

        <div class="cus-detail">


            <div class="cus-article-title">公司简介</div>
            <p>
                上海化工品交易市场经营管理有限公司(简称"上海化交")，成立于2004年，是由上海市政府特批的唯一一家以上海地域命名的国家级化工品电子商务示范单位。总部位于上海市长宁区，同时在全国范围内设有金山办、烟台办、余姚办、常州办、淄博办、北京办等6个办事处。
            </p>
            <p>
                上海化交作为中国首家大宗化工品现货O2O采购、分销与交易平台，为中国化工行业的上下游及流通企业提供以交易为核心，物流、金融及其他为配套的一站式服务。
            </p>
            <p>
                上海化交通过完善的交易交收机制和资金监管措施“让履约更有保障”；通过长期积累的良好信誉和产品快速购销渠道“让资源更丰富”；通过庞大而行业经验丰富的团队和精准定位使用灵活的信息和交易系统“让交易更容易”；通过与工商银行、建设银行、浦发银行、光大银行、农业银行共同建立的金融保障与监管系统，与第三方供应链管理企业共同建立的仓储物流体系“让流通更顺畅”。
            </p>

            <div class="cus-article-title">业务范畴</div>
            <p>交易        现货商城、石化专场、撮合、竞拍</p>
            <p>数据        信用评估、货物流向、价格发现</p>
            <p>资讯        行情资讯、供求分析、走势研判</p>
            <p>金融        仓库质押、订单融资、应收款融资</p>
            <p>物流        仓储、配送、货代</p>


            <div class="cus-article-title">【免责声明】</div>
            <p>1、上海化交发布此信息目的在于传播更多信息，与本网站立场无关。<br/>
            2、上海化交不保证该信息（包括但不限于文字、数据及图表）全部或者部分内容的准确性、真实性、完整性、有效性、 及时性、原创性等。<br/>
            3、相关信息并未经过本网站证实，不对您构成任何投资建议，据此操作，风险自担。<br/>
            4、如有侵权请直接与作者联系或书面发函至本公司转达、处理。</p>



        </div>

    </ion-content>
</ion-view>



