
<ion-view title="登录" scroll="false">
  <ion-nav-bar class="bar bar-positive" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
	<!--<ion-nav-buttons side="left">-->

		<!--&lt;!&ndash;<button class="button button-clear" ng-click="goBack()">返回</button>&ndash;&gt;-->
	<!--</ion-nav-buttons>-->
	<ion-content class="scem-bg" scroll="false">
		<ion-list class="scem-logo">
			<img src="img/logo.png">
		</ion-list>

		<div class="list mt10">

			<label class="item item-input cus-form">
				<i class="iconfont icon-shuruyonghuming"></i>
				<input id="phoneId" type="tel" ng-model="user.phone" placeholder="请输入注册的手机号" maxlength="11">
			</label>


			<div class="item item-input cus-form">

				<i class="iconfont icon-yanzhengma"></i>
				<input name="password" type="tel" maxlength="6" placeholder="请输入验证码" ng-model="user.code" >
        <span class="item-note">
          <button id="verifyButtonId" class="button button-small cus-send-code" ng-click="getCode()" >
							获取验证码
          </button>
        </span>

			</div>

		</div>
		<div  class="login-forget row">
			<div class="col"><a href="#/forgetPass">忘记密码?</a></div>
			<div class="col tr"><a href="#/login">用户名登录</a></div>
		</div>
		<div class="login-button">
    <button class="button button-block login-button1" ng-click="doLogin()">
        <i class="icon ion-loading-c"></i>
      登录
    </button>
			<button class="button button-block login-button2" ng-click="gotoVerifyPhone()">注册</button>
		</div>
	</ion-content>

</ion-view>
