    <ion-view view-title="忘记密码">

        <ion-content scroll="false" class="scem-bg">
            <div class="list mt10">

                <label class="item item-input cus-form">
                    <i class="iconfont icon-shuruyonghuming"></i>
                    <input id="phoneId" type="text" ng-model="user.phone" placeholder="请输入注册的手机号" maxlength="11">
                </label>


                <label class="item item-input cus-form">

                    <i class="iconfont icon-yanzhengma"></i>

                    <input name="password" type="text" maxlength="6" placeholder="请输入验证码" ng-model="user.code" >

                     <span class="item-note">
                        <button id="verifyButtonId" class="button button-small cus-send-code" ng-click="getCode()" >
                            获取验证码
                        </button>
                </span>

                </label>


                <label class="item item-input cus-form">
                    <i class="iconfont icon-shurumima"></i>
                    <input  type="text" ng-model="user.pwd" placeholder="请输入密码">
                </label>

                <label class="item item-input cus-form">
                    <i class="iconfont icon-quedingmima"></i>
                    <input  type="text" ng-model="user.verifyPwd" placeholder="请确认密码">
                </label>





            </div>

            <div class="row">
                <button class="button button-block button-assertive" ng-click="submit();">提交</button>
            </div>

        </ion-content>
    </ion-view>
