<ion-view view-title="Order">
  <ion-content>

    <div class="bar bar-header bar-balanced item-input-inset">
      <a class="button button-clear icon-right ion-android-arrow-dropdown">背景</a>
      <lable class="item-input-wrapper">

        <input type="text" placeholder="输入">
      </lable>
    </div>

    <div class="content has-header padding">
      <div id="order">Order</div>
      <p><button class="button button-light" ng-click="lightClick()">button-light</button></p>
      <p><button class="button button-assertive" ng-click="redClick()">button-dark</button></p>
    </div>



  </ion-content>
</ion-view>
