<ion-view view-title="现货商城">
  <ion-content padding="true" class="has-header">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

      <ion-list>
        <ion-item ng-repeat="listItem in list track by $index">
          {{listItem}}
        </ion-item>
      </ion-list>

    <div class="cus-bottom-loading" height="100%">
      <ion-spinner icon="spiral" class="cus-bottom-icon"></ion-spinner><span height="100%">玩命加载中</span>
    </div>
    <ion-infinite-scroll ng-if="moreData" on-infinite="doLoadMore()" distance="0%" ></ion-infinite-scroll>

  </ion-content>

</ion-view>
