<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- main Tab -->
  <ion-tab title="Main" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/main">
    <ion-nav-view name="tab_main"></ion-nav-view>
  </ion-tab>

  <!-- mall Tab -->
  <ion-tab title="Mall" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/mall">
    <ion-nav-view name="tab_mall"></ion-nav-view>
  </ion-tab>

  <!-- user Tab -->
  <ion-tab title="User" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/user">
    <ion-nav-view name="tab_user"></ion-nav-view>
  </ion-tab>


</ion-tabs>

