<ion-view  class="gray-bg">

    <!--<ion-nav-bar class="bar bar-positive" align-title="center">-->
        <!--<ion-nav-back-button></ion-nav-back-button>-->
    <!--</ion-nav-bar>-->

    <div class="bar bar-header bar-positive" style="position: relative;">
        <button class="button button-icon ion-ios-arrow-left" ng-click="goBack()"></button>
        <h3 class="title">我的交收</h3>
      <button class="button button-icon"  ng-click="showState()" ng-model="textSelect">{{textSelect}}<i class="icon ion-arrow-down-b" ></i>
</button>
    </div>
  <div ng-class="selectState" class="selectState" ng-if=isdisplayButton>
    <div ng-click="tabClick(false,false)" ng-class="{true:'active'}[!onClickedFirstTap]" >买家 </div>
    <div ng-click="tabClick(true,false)"  ng-class="{true:'active'}[onClickedFirstTap]">卖家</div>
  </div>

    <ion-header-bar class= "bar-subheader mytrade-subheader" ng-if=isdisyushou >
      <div class="row text-center" >
        <!--<div class="col"><div class="col-50" ng-click="tabClick(false)" ng-class="{true:'active'}[!onClickedFirstTap]"  >我是买家</div></div>-->
        <!--<div class="col"><div class="col-50" ng-click="tabClick(true)"  ng-class="{true:'active'}[onClickedFirstTap]" >我是卖家</div></div>-->
        <div class="col"><div class="col-50" ng-click="TaboneClick()" ng-class="Tabclass1" >现货</div></div>
        <div class="col"><div class="col-50" ng-click="TabtwoClick()" ng-class="Tabclass2" >预售</div></div>
      </div>
    </ion-header-bar>

    <ion-content scroll="true" class="gray-bg has-header has-subheader" ng-class="subheader">
      <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" pulling-icon="ion-ios-arrow-thin-down"></ion-refresher>

      <ion-list >
            <ion-item  ng-repeat="item in myDeliveryList track by $index" ng-click="goDetail(item)" >
                <div class="trade-list row" style="padding: 0;white-space: normal;">
                    <div class="col col-80" style="padding: 0">
                    <span class="settlement-state">{{item.formatGoodsType}}</span>{{item.BrandShow}}&nbsp;-&nbsp;{{item.CategoryShow}}&nbsp;-&nbsp;{{item.SourcePlaceShow}}</div>
                    <div class="item-note col col-20" style="padding: 0;text-align: right;">{{item.preDate}}</div>
                </div>

                <div class="red-color" style="font-size: 18px"> ￥{{item.Price}}元/吨 <span class="gray-color" style="font-size: 14px;">{{item.Quantity}}吨
                </span>
                    <!--<div class="item-note blue-color">{{item.TradeStatusShow}}</div>-->
                </div>
            </ion-item>
        </ion-list>
      <ion-infinite-scroll ng-if="moreData" immediate-check="false" spinner="dots" on-infinite="doLoadMore()" distance="1%" ></ion-infinite-scroll>
      <div class="no-data-col" ng-if="showBlank">
        <img src="img/no_trade_data.png"/>
        <p>没有搜到你想要的内容</p>
        <div>世界那么大，我想再看看</div>
      </div>
    </ion-content>


</ion-view>
